Package: telegrafha
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: telegraf, ssh
Maintainer: Matthieu COURTOIS
Description: High avaibility between two telegraf server node
Homepage: https://github.com/UpperM/telegraf-ha
