Package: telegraf-ha
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: telegraf, ssh
Maintainer: Matthieu COURTOIS
Description: Fail over between two telegraf servers
Homepage: https://github.com/UpperM/telegraf-ha
